/*初始化样式*/
* {
  margin 0;
  padding 0;
  font-family "Microsoft YaHei", "微软雅黑", "Segoe UI", Arial;

}

html {
  overflow-y auto
}

.z-index-99 {
  z-index 99
}

.bg-color-white
  background-color white !important

.font-size-14
  font-size 14px !important

.font-size-18
  font-size 18px !important

.font-size-20
  font-size 20px !important

.hover-pointer:hover {
  cursor pointer !important
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 4px;
  background-color: #f1f1f1;
  border-radius: 0.6px;
  height: 4px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  width: 4px;
  height: 60px;
  background-color: #cccccc;
  border-radius: 2px;
}

input
  background none !important
  outline none !important
  border none !important

input[type=text]:focus
  background none !important


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent;
  transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}

input {
  background-color: transparent;
}

.height-100pc
  height 100% !important


